@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
}

body {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e2dbdd&c2=fee26a&gt=l&gd=dbb
*/
  /* align-items: center; */
  background: #e2dbdd;
  background: linear-gradient(180deg, #e2dbdd, #fee26a);
  font-family: "Crimson Text", static, serif;
  /* display: flex;
  text-align: center; */
}

h1 {
  background-color: #fdda0d;
  color: #fff;
  font-size: 1.75rem;
  padding: 18px 0;
  text-align: center;
}

h2 {
  text-align: center;
}

.form-search-word-container {
  background-color: white;
  border-radius: 12px;
  width: 800px;
}

.btn-search-word {
  margin: 4px;
}

.search-container .search-input-container {
  display: flex;
  position: relative;
}

.container-hdr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.wrapper-site-hdr
  .form-search-word-container
  .form-search-word
  .btn-search-word {
  background-color: #fdda0d;
  color: #fff;
  text-align: center;
  border-radius: 12px;
  border: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-size: 1.25em;
  font-weight: 600;
  line-height: normal;
  display: flex;
}

.card-container {
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.word-card {
  text-align: left;
}

.word-description {
  text-align: center;
}

.wrapper-site-hdr
  .form-search-word-container
  .form-search-word
  .input-search-word {
  height: var(--form-search-word-height);
  background: url(https://cdn.dictionary.com/icon-magnify-glass-C95mo79y.svg)
    16px / 16px no-repeat;
  background-size: 20px;
  border: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 0 0 40px;
  line-height: normal;
  display: flex;
}

.hdr-devaughn-dictionary {
  position: relative;
  bottom: 20px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.btn-primary:hover {
  background-color: #fdda0d;
}
