@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
}

body {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e2dbdd&c2=fee26a&gt=l&gd=dbb
*/
  /* align-items: center; */
  background: #e2dbdd;
  background: linear-gradient(180deg, #e2dbdd, #fee26a);
  font-family: "Crimson Text", static, serif;
  /* display: flex;
  text-align: center; */
}

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}

.words-input {
  width: 550px;
}

.words-input input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.07rem;
  margin: 10px 0 20px 0;
  outline: none;
  padding: 0 15px;
  width: 100%;
  height: 46px;
}

.words-input button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  padding: 10px 0;
  width: 100%;
}
